﻿<h2>CrearCuenta</h2>

<form method="post" action="/Home/GuardarCuenta">
    <div class="form-group">
        <label>Nombre</label>
        <input name="Nombre" id="Nombre" class="form-control" />
        @Html.ValidationMessage("Nombre")
    </div>

    <div class="form-group">
        <label>Categoria</label>
        <select name="Categoria" id="Categoria" class="form-control">
            <option value="">--- Seleccione una categoria de cuenta ---</option>
            <option value="Propia">Propia</option>
            <option value="Crédito">Crédito</option>

        </select>
        @Html.ValidationMessage("Categoria")
    </div>

    <div class="form-group">
        <label>Saldo Inicial (Limite de credito si eligio "Credito")</label>
        <input name="Saldo" id="SaldoInicial" class="form-control" />
        @Html.ValidationMessage("SaldoInicial")
    </div>

    <button id="GuardarCuenta" class="btn btn-success">Guardar</button>
</form>
