﻿@{
    ViewData["Title"] = "Finanzas APP";
}

<div class="text-center">
    <h1 class="display-4">Finanzas APP</h1>
</div>

<h2> Gastos totales: @ViewBag.gastos</h2>
<h2> Ingresos totales: @ViewBag.ingresos</h2>
<h2> Saldo total: @ViewBag.total</h2>


<div class="container">
    <a class="btn btn-danger" href="/Home/Crear"> Crear Cuenta </a>
    <a class="btn btn-success" href="/Home/Ingresar"> Registrar Ingreso</a>
    <a class="btn btn-success" href="/Home/Gastar"> Registrar Gasto</a>
    <a class="btn btn-success" href="/Home/Ingresos"> Mis Ingresos</a>
    <a class="btn btn-success" href="/Home/Gastos"> Mis Gastos</a>

    <hr />
    <table class="table" id="TablaCuentas">
        <thead>
            <tr>
                <th>Cuenta</th>
                <th>Categoria</th>
                <th>Saldo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cuenta in Model)
            {
                <tr>
                    <td>@cuenta.Nombre</td>
                    <td>@cuenta.Categoria</td>
                    <td>S/. @cuenta.Saldo</td>

                </tr>
            }
        </tbody>
    </table>




</div>
