﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Lista de Ingresos</h2>


<a class="btn btn-danger" href="/Home/Index">Volver</a>
<hr />



<table class="table">
    <thead>
        <tr>
            <th>Fecha y Hora</th>
            <th>Descripcion</th>
            <th>Monto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ingreso in Model)
        {
        <tr>
            <td>@ingreso.Fecha</td>
            <td>@ingreso.Descripcion</td>
            <td>@ingreso.Monto</td>
        </tr>}
    </tbody>
</table>
